<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EfsSystem.Properties.Settings.mysqlConnString" connectionString="server=localhost;user id=webuser;password=123456;persistsecurityinfo=True;database=efs"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>